html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #161616;
  color: #fff;
  font-size: 1.6rem;
}
/* globales */
img{
  max-width: 100%;
  display: block;
}
.content{
  max-width: 85%;
  margin: 0 auto;
}
h2{
  font-size: 3rem;
}
/* utilidades */
.salmon{
  color: #F4A261;
}
.center{
  text-align: center;
}
 
/* header */
.navegacion{
  display: flex; 
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
}
.logo img{
  width: 8rem;
  border-radius: 50%;
}
.navegacion__items{
  display: flex;
  list-style: none;
  overflow: hidden;
}
.nav__item{
  margin: 0 2rem;
}
.nav__item a{
  color: #fff;
  text-decoration: none;
}
.nav__item a::after{
  content: '';
  display: block;
  width: 100%;
  border: 2px solid #fff;
  background-color: #fff;
  transform: translateY(2rem);
  transition: transform 0.2s ease-in-out;
}
.nav__item a:hover:after{
  transform: translateY(0);
}

/* hero **/
.hero{
  height: 50rem; 
  background-image: url(../img/hero.jpg);
  background-position: bottom;
  filter:opacity(50%);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__content{
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: absolute;
  transform: translateY(-40rem);
}
.hero__content__img{
  margin: 0 auto;
  transform: translateY(3rem);
}
.hero__content__img img{
  width: 45rem;
  animation-name: pizzaRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
@keyframes pizzaRotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.hero__content__text h1{
  font-size: 5rem;
  letter-spacing: .5rem;
}
.hero__content__text p{
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  padding-right: 4rem;
  text-align: justify;
}

/* Aus */
.Aus{
  margin: 6rem 0;
}
.Aus__content{
  display: grid; 
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 30rem;
}
.Aus__content__text{
  text-align: justify;
  padding-right: 4rem;
  line-height: 2.5rem;
}
.Aus__content__img{
  height: 30rem;
  background-image: url(../img/about.jpg);
  background-size: cover;
  background-position: center;
}

/* Menu */

.menu__content{
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}
.menu__content__item {
  width: 100%;
  height: 100%;
  position: relative;
}
.menu__content__item img{
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, 0.2);
}

.menu__content__item:nth-child(1){
  grid-area: 1;
  grid-column: 1 / 2;
}
.menu__content__item:nth-child(1):before{
  content: 'Pepperoni';
}

.menu__content__item:nth-child(2){
  grid-area: 2;
  grid-column: 1 / 2;
}
.menu__content__item:nth-child(2):before{
  content: 'Jamon & Palmitos';
}

.menu__content__item:nth-child(3){
  grid-area: 1;
  grid-column: 2 / 4;
}
.menu__content__item:nth-child(3):before{
  content: 'Huevo & Panceta';
}

.menu__content__item:nth-child(4){
  grid-area: 2;
  grid-column: 2 / 3;
}
.menu__content__item:nth-child(4):before{
  content: 'Hawaiana';
}

.menu__content__item:nth-child(5){
  grid-area: 2;
  grid-column: 3 / 4;
}
.menu__content__item:nth-child(5):before{
  content: 'Napolitana';
}

.menu__content__item:nth-child(6){
  grid-area: 1;
  grid-column: 4 / 5;
}
.menu__content__item:nth-child(6):before{
  content: 'Queso';
}

.menu__content__item:nth-child(7){
  grid-area: 2;
  grid-column: 4 / 6;
}
.menu__content__item:nth-child(7):before{
  content: 'Salmon';
}

.menu__content__item:nth-child(8){
  grid-area: 1;
  grid-column: 5 / 6;
}
.menu__content__item:nth-child(8):before{
  content: 'Margarita';
}

.menu__content__item::before{
  content: '';
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  filter:opacity(50%);
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.menu__content__item:hover:before{
  content: '';
  filter:opacity(0%);
}
.menu__content h3{
  grid-column: 1 / 6;
}
.menu__content__item:nth-child(1){
  grid-column: 1 / 4;
}
