*,
*:before,
*:after {
  box-sizing: einherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 2;
  font-family: "Raleway", sans-serif;
}
/* Globales */
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  margin: 0 0 5rem 0;
}
a {
  text-decoration: none;
  color: #000000;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}

/** Utilidades **/
.text-center {
  text-align: center;
}

.max-width-30{
  width: 30rem;
}

.btn {
  background-color: #8cbc00;
  color: #fff;
  padding: 1rem;
  display: block;
  text-transform: uppercase;
  font-weight: 900;
  transition: background-color 0.2s ease;
  text-align: center;
  border: none;
}
.btn:hover {
  background-color: #769c02;
}
/* Header y Navegacion */
.nombre-sitio {
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
}
.nombre-sitio span {
  color: #037bc3;
}
.nav-principal {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}
.contenedor-navegacion {
  border-top: 0.1rem solid #e1e1e1;
}
/*hero*/
.hero {
  background-image: url(../img/principal.jpg);
  height: 55rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/* Listado categorias */
.categorias {
  padding: 5rem;
}
.categoria a {
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 1.8rem;
}
.categoria:first-child a {
  border-bottom-left-radius: 1rem;
}
.categoria:last-child a {
  border-bottom-right-radius: 1rem;
}
.categoria a:hover {
  color: #ffffff;
  background-color: #037bc3;
}
.listado-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/** nosotros **/
.sobre-nosotros {
  background-image: linear-gradient(
      to right,
      transparent 50%,
      #037bc3 50%,
      #037bc3 100%
    ),
    url(../img/nosotros.jpg);
  background-position: left center;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
}
.sobre-nosotros-grid {
  display: flex;
  justify-content: flex-end;
}
.texto-nosotros {
  color: #fff;
  flex-basis: 48%;
}

/** Listado de Productos **/
.contenido-principal {
  padding-top: 5rem;
}
.listado-productos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.producto {
  background-color: #037bc3;
}
.texto-producto {
  text-align: center;
  color: #fff;
  padding: 2rem;
}
.texto-producto h3 {
  margin: 0;
}
.texto-producto p {
  margin: 0 0 0.5rem 0;
}
.texto-producto .precio {
  font-size: 2.8rem;
  font-weight: 900;
}
.producto:nth-child(1) {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.producto:nth-child(1) img {
  height: 43rem;
  object-fit: cover;
  width: 100%;
}
.producto:nth-child(2) {
  grid-column: 1 / 4;
}

.producto:nth-child(3) {
  grid-column: 4 / 7;
}
.producto:nth-child(2) img,
.producto:nth-child(3) img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
.producto:nth-child(4) {
  grid-column: 1 / 3;
}
.producto:nth-child(5) {
  grid-column: 3 / 5;
}
.producto:nth-child(6) {
  grid-column: 5 / 7;
}

/** Footer **/

.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 5rem;
  padding-top: 5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.site-footer h3 {
  margin-bottom: 0.5rem;
}
.footer-menu a {
  font-weight: 600;
  display: block;
}
.copyright {
  padding-top: 5rem;
  font-weight: 600;
  text-align: center;
}

/* nosotros.html */
.contenido-nosotros {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}
.informacion-nosotros{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blog */
.contenedor-blog{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}
.entrada{
  padding-bottom: 4rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid #e1e1e1; 
}
.entrada:last-of-type{
  border: none;
}
.entrada-meta{
  display: flex;
  justify-content: space-between;
}
.entrada-meta p{
  font-weight: 700;
}
.entrada-meta span{
  color: #037bc3;
}

/* Entrada */
.contenido-entrada-blog{
  width: 50rem;
  margin: 0 auto;
}

/* galeria */
.galeria{
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.galeria img{
  width: 40rem;
  height: 30rem;
  object-fit: cover;
}
.formulario{
  max-width: 60rem;
  margin: 0 auto;
}
.formulario fieldset{
  border: 1px solid #000;
  margin: 2rem;
}
.formulario legend{
  background-color: #005485;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  padding: 1rem;
  margin-bottom: 4rem;
}
.campo{
  display: flex;
  margin-bottom: 2rem;
}
.campo label{
  flex-basis: 10rem;
}
.campo input:not([type="radio"]),
.campo textarea,
.campo select{
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 1rem;
}
.campo select option{
  text-align: center;
}
.formulario .btn{
  margin-left: 2rem;
  cursor: pointer;
}
/**
/* Estilos para escribir codigo CSS
 * Modulos, BEM, SMACSS
 * */
/*
 * Especificidad
 *0 0 0 2
 	0 0 1 1
 *0 1 0 1
 	1 0 0 0 
 */
